absl-py==0.8.1
astor==0.8.0
gast==0.2.2
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mpmath==1.1.0
numpy==1.18.1
opt-einsum==3.1.0
pandas==0.25.3
pip==20.0.2
protobuf==3.11.1
python-dateutil==2.8.1
pytz==2019.3
scipy==1.3.3
setuptools==39.0.1
six==1.13.0
tensorboard==1.15.0
tensorflow==1.15.3
tensorflow-estimator==1.15.1
tensorflow-privacy==0.2.2
tensorflow-probability==0.8
termcolor==1.1.0
Werkzeug==0.16.0
wheel==0.33.6
wrapt==1.11.2